<section class="relative bg-cyan-950 text-white flex items-center justify-center text-center overflow-hidden md:mt-18 mt-12">
    <div class="absolute inset-0 xl:bg-[url('/images/fondo2.webp')] bg-[url('/images/fondo1.jpg')] bg-cover bg-center opacity-20"></div>
    <div class="mx-auto w-full flex flex-col text-white z-10 py-20">
        <div class="flex flex-col gap-8 p-4 2xl:p-0">
            <h1 class="text-4xl xl:text-6xl font-bold mb-6">Nuestros Servicios</h1>
            <p class="text-xl xl:text-3xl mb-8 max-w-4xl mx-auto">
             Ofrecemos soluciones eficaces para todo tipo de plagas. Todos nuestros tratamientos son seguros para tu familia, mascotas y el medio ambiente.
            </p>
        </div>
    </div>
</section>