---
import Service_card from "./Service_card.astro";
---

<section class="py-16 min-h-screen bg-white scroll-mt-40 max-w-[1400px] 2xl:px-0 mx-auto px-4">

  <!-- Control de plagas -->
  <div class="mb-16">
    <h2 class="text-3xl font-bold text-gray-800 mb-8 md:text-start text-center">Servicios de control de plagas</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
      <Service_card 
        id='control-de-insectos' 
        title='Control de insectos' 
        imageUrl='/images/services/control-insectos.webp' 
        elements= {[
          { text: 'Control rastreros' }, 
          { text: 'Control de voladores'},
          { text: 'Control de xilofagos'}
        ]}
        button="Cotiza aquí"
      />
      
      <Service_card 
        id='control-de-roedores' 
        title='Control de roedores' 
        imageUrl='/images/services/roedor.jpg'  
        elements= {[
          { text: 'Control de ratas' }, 
          { text: 'Control de ratones'}, 
          { text: 'Control de conejos'}
        ]}
        button="Cotiza aquí"
      />

      <Service_card 
        id='rescate-abejas'
        title='Rescate y relocalización de abejas' 
        description='Junto a los apicultores de <a href="https://www.instagram.com/polinizarte.cl/?hl=es" target="_blank" class="text-blue-600">Polinizarte SpA</a> ofrecemos servicio de rescate y relocalización de enjambres y/o nidos de abejas presentes en casa o jardines.'
        imageUrl='/images/services/cucarachas.jpg' 
        button="Cotiza aquí"
      />
    </div>
  </div>

  <!-- Servicio de aseo y limpieza -->
  <div class="mb-16">
    <h2 class="text-3xl font-bold text-gray-800 mb-8 text-center md:text-start">Servicio de aseo y limpieza</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
      <Service_card 
        id='aseo-profundo'
        title='Aseo profundo' 
        description='Aseo inicial.'
        imageUrl='/images/services/roedor.jpg' 
        button="Cotiza aquí"
      />

      <Service_card 
        id='limpieza-mantencion'
        title='Aseo de mantención' 
        description='Aseo periodico.'
        imageUrl='/images/services/termitas.jpg'
        button="Cotiza aquí" 
      />
    </div>
  </div>

  <!-- Servicios veterinarios -->
  <div class="mb-16">
    <h2 class="text-3xl font-bold text-gray-800 mb-8 text-center md:text-start">Servicios veterinarios</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
      <Service_card 
        id='consultas-generales'
        title='Consultas veterinarias generales' 
        imageUrl='/images/services/cucarachas.jpg' 
        button="Agenda aquí"
      />

      <Service_card 
        id='telemedicina'
        title='Consultas telemedicina' 
        imageUrl='/images/services/roedor.jpg' 
        button="Agenda aquí"
      />
    </div>
  </div>

  <!-- Servicio de mantención de jardines -->
  <!-- <div class="mb-16">
    <h2 class="text-3xl font-bold text-gray-800 mb-8 text-center md:text-start">Servicio de mantención de jardines</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
      <Service_card 
        id='mantencion-jardines'
        title='Mantención de áreas verdes y jardines' 
        imageUrl='/images/services/cucarachas.jpg' 
        button=""
      />

      <Service_card 
        id='sistemas-riego'
        title='Reparación y construcción de sistemas de riego' 
        imageUrl='/images/services/roedor.jpg' 
        button=""
      />
    </div>
  </div> -->

  <!-- Servicio de asesoría profesional -->
  <div class="mb-16">
    <h2 class="text-3xl font-bold text-gray-800 mb-8 text-center md:text-start">Servicio de capacitación y asesorías profesionales</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
      <Service_card 
        id='asesorias-profesionales'
        title='Asesorías profesionales' 
        imageUrl='/images/services/termitas.jpg' 
        button="Dinos que necesitas"
      />

      <Service_card 
        id='actividades'
        title='Actividades al aire libre' 
        imageUrl='/images/services/cucarachas.jpg' 
        button="Consulta aquí"
      />
    </div>
  </div>

</section>
