---
import Service_card from './Service_card.astro';
---

<section class="py-16 bg-white overflow-y-auto snap-y snap-mandatory">
  
  <Service_card 
    id='control-de-cucarachas' 
    title='Control de cucarachas' 
    description='Las cucarachas son portadoras de enfermedades y pueden contaminar alimentos y superficies. Nuestro tratamiento elimina eficazmente tanto las cucarachas adultas como sus huevos.' imageUrl='../images/services/roedor.jpg' 
    elements= {[
      { text: 'Tratamiento con gel específico para cucarachas' }, 
      { text: 'Pulverización en zonas de difícil acceso'},
      { text: 'Sellado de grietas y huecos para prevenir reinvasiones'}
    ]}
  />
  
  <Service_card 
    id='control de termitas' 
    title='Control de termitas' 
    description='Las termitas pueden causar daños estructurales graves en edificios. Nuestro tratamiento contra termitas elimina la colonia completa y protege tu propiedad.' 
    imageUrl='https://images.unsplash.com/photo-1535268647677-300dbf3d78d1?q=80&w=3057&auto=format&fit=crop' 
    elements= {[
      { text: 'Inspección exhaustiva de la estructura' }, 
      { text: 'Tratamiento con cebos o barreras químicas'}, 
      { text: 'Garantía de hasta 5 años en tratamientos completos'}
    ]}
  />

  <Service_card 
    id='control de roedores'
    title='Control de roedores' 
    description='Los roedores pueden transmitir enfermedades y causar daños en cables y estructuras. Nuestro servicio incluye la eliminación de roedores y la prevención de futuras invasiones.' 
    imageUrl='../images/services/roedor.jpg' 
    elements= {[
      { text: 'Colocación estratégica de cebos y trampas' }, 
      { text: 'Identificación y sellado de puntos de entrada'}, 
      { text: 'Asesoramiento para prevenir reinvasiones'}
    ]}
  />

</section>