<section class="py-16 bg-white">
    <div class="container mx-auto px-4 2xl:px-0 max-w-[1400px] ">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-12 items-stretch">
            <div>
                <h2 class="text-3xl font-bold mb-6">Nuestra historia</h2>
                <p class="text-black text-lg mb-8">
                    <span class="font-bold">Proserv Servicios Profesionales SpA</span> es una empresa familiar, reuniendo a
                    dos generaciones traspasando los conocimientos profesionales y técnicos de una
                    generación a otra, y siempre enfocados en aumentar sus conocimientos. Proserv
                    cuenta con la formación académica para lograr un alto nivel de servicio, enmarcado
                    en la seguridad de las personas y el medio ambiente, cumpliendo con la <span class="font-bold">legislación vigente</span>.
                </p>
                
                <div class="space-y-6">
                    <div>
                        <h3 class="text-xl font-semibold mb-3 text-blue-600">Visión</h3>
                        <p class="text-black text-lg">
                            Nuestra visión se basa en posicionarnos en el mercado como una empresa
                            líder en la atención al cliente y en la entrega de servicios profesionales desde el
                            <span class="font-bold">primer contacto</span>.
                        </p>
                    </div>
                    
                    <div>
                        <h3 class="text-xl font-semibold mb-3 text-blue-600">Misión</h3>
                        <p class="text-black text-lg">
                            Nuestra misión es presentarnos en el mercado con servicios acordes a un
                            nivel profesional en todo momento, desde el <span class="font-bold">primer contacto</span> hasta la entrega de los
                            certificados correspondientes.
                        </p>
                    </div>
                </div>
            </div>
            <div class="rounded-lg overflow-hidden relative h-full min-h-[400px] md:min-h-[500px]">
                <img
                    src="/images/familia.jpg"
                    alt="Equipo de ProServ"
                    class="w-full h-full object-cover absolute top-0 right-0"
                />
            </div>
        </div>
    </div>
</section>
