<section class="py-16 bg-white">
    <div class="container mx-auto px-4 2xl:px-0 max-w-[1400px]">
        <h2 class="text-3xl font-bold text-center mb-12">Nuestro equipo</h2>

        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-5 gap-8">
            <div class="text-center">
                <div class="mb-4 rounded-lg overflow-hidden">
                    <img
                        src="/images/selfie/javiera-bossi.webp"
                        alt="Director General"
                        class="w-full h-96 object-cover"
                    />
                </div>
                <h3 class="text-xl font-semibold mb-1">Javiera Bossi A.</h3>
                <p class="text-teal-500 mb-3">Gerente General</p>
                <p class="text-gray-600 text-sm px-4">
                    Ingeniera Agrónoma, diplomada en control de plagas.
                </p>
            </div>

            <div class="text-center">
                <div class="mb-4 rounded-lg overflow-hidden">
                    <img
                        src="/images/selfie/jose.webp"
                        alt="Directora Técnica"
                        class="w-full h-96 object-cover"
                    />
                </div>
                <h3 class="text-xl font-semibold mb-1">José Rojas M.</h3>
                <p class="text-teal-500 mb-3">Representante técnico.</p>
                <p class="text-gray-600 text-sm px-4">
                    Ingeniero Agrónomo, especialista en control de plagas.
                </p>
            </div>

            <div class="text-center">
                <div class="mb-4 rounded-lg overflow-hidden">
                    <img
                        src="/images/selfie/horacio-bossi.webp"
                        alt="Directora Técnica"
                        class="w-full h-96 object-cover"
                    />
                </div>
                <h3 class="text-xl font-semibold mb-1">Horacio Bossi A.</h3>
                <p class="text-teal-500 mb-3">Medico veterinario.</p>
                <p class="text-gray-600 text-sm px-4">
                    Magister en ciencias veterinarias.
                </p>
            </div>

            <div class="text-center">
                <div class="mb-4 rounded-lg overflow-hidden">
                    <img
                        src="/images/selfie/emilio-lenero.webp"
                        alt="Jefe de Operaciones"
                        class="w-full h-96 object-cover"
                    />
                </div>
                <h3 class="text-xl font-semibold mb-1">Emilio Leñero B.</h3>
                <p class="text-teal-500 mb-3">Técnico Aplicador</p>
                <p class="text-gray-600 text-sm px-4">
                    Técnico aplicador de productos fitosanitarios.  
                </p>
            </div>

            <div class="text-center">
                <div class="mb-4 rounded-lg overflow-hidden">
                    <img
                        src="/images/selfie/polinizarte.jpg"
                        alt="Responsable de Atención al Cliente"
                        class="w-full h-96 object-center"
                    />
                </div>
                <h3 class="text-xl font-semibold mb-1 flex items-center justify-center">Polinizarte SpA 
                    <span class="inline-flex ml-2 hover:scale-110 transition-all duration-200"> 
                        <a href="https://www.instagram.com/polinizarte.cl/?hl=es" target="_blank">
                            <img src="/images/icons/rrss/instagram.svg" alt="Instagram" class="w-8 h-8">
                        </a>
                    </span>
                </h3>
                <p class="text-teal-500 mb-3">Asesores</p>
                <p class="text-gray-600 text-sm px-4">
                    Apicultura natural regenerativa, rescate y reubicación de abejas.
                </p>
            </div>
        </div>
    </div>
</section>
