<section class="py-16 bg-white">
    <div class="container mx-auto px-4">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-12 items-center">
            <div class="">
                <h2 class="text-3xl font-bold mb-6">Nuestra historia</h2>
                <p class="text-black text-lg">
                    ProServ Servicios Profesionales fue fundada en 2023 como una
                    empresa familiar con la misión de ofrecer soluciones
                    efectivas y seguras en el control de plagas. Desde el
                    inicio, nos hemos destacado por combinar la cercanía de un
                    servicio personalizado con la experiencia de técnicos
                    certificados, comprometidos con altos estándares de calidad
                    y seguridad.
                    <br /><br />
                    Con un enfoque profesional y responsable, brindamos atención
                    tanto a hogares como a empresas, utilizando métodos modernos
                    y productos autorizados que garantizan resultados duraderos.
                    Gracias a la confianza de nuestros clientes y al trabajo bien
                    hecho, hoy seguimos creciendo, manteniendo firme nuestro compromiso
                    con la protección y bienestar de cada espacio que atendemos.
                </p>
            </div>
            <div class="rounded-lg overflow-hidden">
                <img
                    src="/images/logo/logo-proserv.png"
                    alt="Equipo de ProServ"
                    class="w-full h-full object-cover"
                />
            </div>
        </div>
    </div>
</section>
