---
import Hero from '../components/Hero.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="ProServ - Chile. Servicios profesionales de control de plagas - Contacto">
	<main>
		<Hero title='Contactanos'/>
	</main>
</Layout>