---
import PorqueElegirnos from '../components/PorqueElegirnos.astro';
import SrvSeccion from '../components/SrvSeccion.astro';
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="ProServ - Chile">
	<main>
		<Welcome />
		<SrvSeccion />
		<PorqueElegirnos />
	</main>
</Layout>
