---
import Hero from '../components/services/Hero.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="ProServ - Chile. Servicios profesionales de control de plagas - Nosotros">
	<main>
		<Hero title='Acerca de nosotros'/>
	</main>
</Layout>