---
import Hero from '../components/services/Hero.astro';
import Services_section from '../components/services/Services_section.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="ProServ - Chile. Servicios profesionales de control de plagas">
	<main>
		<Hero />
        <Services_section />
	</main>
</Layout>