---
import Hero from '../components/Hero.astro';
import Services_section from '../components/services/Services_section.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="ProServ - Chile. Servicios profesionales de control de plagas - Servicios">
	<main>
		<Hero title='Nuestros Servicios' description='Ofrecemos soluciones eficaces para todo tipo de plagas. Todos nuestros tratamientos son seguros para tu familia, mascotas y el medio ambiente.'/>
        <Services_section />
	</main>
</Layout>