---
export interface Props {
    title: string;
    description?: string;
}
const { title, description } = Astro.props;
---

<section class="py-16 bg-gradient-to-br from-teal-500 to-teal-900 text-white">
    <div class="container mx-auto px-4 text-center">
        <h2 class="text-3xl font-bold mb-4">{title}</h2>
        <p class="max-w-2xl mx-auto mb-8 text-xl text-green-50">
            {description}
        </p>
        <div class="flex flex-col items-center justify-center mb-8">
            <div class="flex sm:flex-row gap-8 sm:gap-16">
                
                <a href="https://wa.me/56956484233" target="_blank" class="hover:scale-105 transition duration-300">
                    <img src="/images/icons/rrss/whatsapp.svg" alt="icono whatsapp" class="w-12 h-12" />
                </a>
                <a href="tel:+56 9 5648 4233" target="_blank" class="hover:scale-105 transition duration-300">
                    <img src="/images/icons/phone_white.svg" alt="icono telefono" class="w-12 h-12" />
                </a>
                <a href="mailto:contacto@proserv-chile.com" target="_blank" class="hover:scale-105 transition duration-300">
                    <img src="/images/icons/mail.svg" alt="icono mail" class="w-12 h-12 " />
                </a>
                <a href="https://www.instagram.com/proserv.chile" target="_blank" class="hover:scale-105 transition duration-300">
                    <img src="/images/icons/rrss/instagram.svg" alt="icono instagram" class="w-12 h-12" /> 
                </a>
            </div>
            <p class="text-sm mt-4 text-blue-100">
                Contáctanos por cualquiera de estos medios y te responderemos a la brevedad.
            </p>
        </div>
    </div>
</section>