<footer class="bg-[#13171C] text-white z-20 p-5 text-left min-h-[15vh] flex py-10 xl:py-16">

    <div class="container mx-auto px-4 sm:px-6 lg:px-8">
        <div class="grid grid-cols-1 md:grid-cols-4 gap-8">
            <div>
                <div class="flex items-center mb-4">
                    <a href="/">
                        <img class="h-20" src="/images/logo/logo-proserv.png"/>
                    </a>
                </div>
                <p class="text-green-100 mb-4">
                    Soluciones profesionales de control de plagas para hogares y negocios. Servicio garantizado y seguro.
                </p>
                <p class="text-green-100 text-sm">
                    © ProServ Chile. todos los derechos reservados.
                </p>
            </div>
            
            <div>
                <h4 class="font-semibold text-lg mb-4">Enlaces rápidos</h4>
                <ul class="space-y-2">
                    <li>
                    <a href="/" class="text-green-100 hover:text-white transition-colors">
                        Inicio
                    </a>
                    </li>
                    <li>
                    <a href="/services" class="text-green-100 hover:text-white transition-colors">
                        Servicios
                    </a>
                    </li>
                    <li>
                    <a href="/nosotros" class="text-green-100 hover:text-white transition-colors">
                        Nosotros
                    </a>
                    </li>
                    
                    <li>
                    <a href="/contact" class="text-green-100 hover:text-white transition-colors">
                        Contacto
                    </a>
                    </li>
                </ul>
            </div>
            
            <div>
                <h4 class="font-semibold text-lg mb-4">Servicios</h4>
                <ul class="space-y-2">
                    <li>
                        <a href="/services#control-de-cucarachas" class="text-green-100 hover:text-white transition-colors">
                            Control de cucarachas
                        </a>
                    </li>
                    <li>
                        <a href="/services#control de termitas" class="text-green-100 hover:text-white transition-colors">
                            Control de termitas
                        </a>
                    </li>
                    <li>
                        <a href="/services#control de roedores" class="text-green-100 hover:text-white transition-colors">
                            Control de roedores
                        </a>
                    </li>
                </ul>
            </div>
            
            <div>
                <h4 class="font-semibold text-lg mb-4">Contacto</h4>
                <ul class="space-y-3">
                    <li class="flex items-start">
                        <img src="/images/icons/phone_white.svg" class="h-5 w-5 mr-2 flex-shrink-0 mt-0.5" />
                        <a href="tel:956484233" class="hover:underline">
                            +56 9 5648 4233
                        </a>
                    </li>
                    <li class="flex items-start">
                        <img src="/images/icons/mail.svg" class="h-5 w-5 mr-2 flex-shrink-0 mt-0.5" />
                        <a href="mailto:contacto@proserv-chile.com" class="hover:underline">
                            contacto@proserv-chile.com
                        </a>
                    </li>
                    <!-- <li class="flex items-start">
                        <img src="images/icons/map-pin.svg" class="h-5 w-5 mr-2 flex-shrink-0 mt-0.5" />
                        <address class="not-italic">
                            Calle Principal 123<br />
                            28001 Madrid, España
                        </address>
                    </li> -->
                </ul>
                <h4 class="font-semibold text-lg mb-4 mt-4">Redes Sociales</h4>
                <div class="flex space-x-4">  
                    <a href="https://www.instagram.com/proserv.chile" target="_blank" class="text-green-100 hover:text-white transition-colors">
                        <img src="/images/icons/instagram.svg" class="h-6 w-6" alt="Instagram"/>
                    </a>
                    <a href="https://wa.me/56956484233" target="_blank" class="text-green-100 hover:text-white transition-colors">
                        <img src="/images/icons/whatsapp.svg" class="h-6 w-6" alt="Whatsapp"/>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="max-w-[1400px] mx-auhref items-center justify-center flex flex-col gap-2">
        <p>© 2025, ProServ Chile. hrefdos los derechos reservados.</p>
        <p>Página desarrollada por <a class="text-blue-600" href="https://www.aedin.com/in/nicolás-castillo-cerda-3ab7a5292/" target="_blank">@NicolasCastillo</a> </p>
    </div> -->
</footer>