<footer class="bg-[#13171C] text-white z-20 p-5 text-center min-h-[15vh]">
    <div class="max-w-[1400px] mx-auto items-center justify-center flex flex-col gap-2">
        <p>© 2025, ProServ Chile. Todos los derechos reservados.</p>
        <p>Página desarrollada por <a class="text-blue-600" href="https://www.linkedin.com/in/nicolás-castillo-cerda-3ab7a5292/" target="_blank">@NicolasCastillo</a> </p>
    </div>
</footer>