<header class="fixed w-full top-0 text-black bg-white z-20 shadow-lg">
    <div class="max-w-[1400px] mx-auto flex justify-between items-center md:text-lg text-md 2xl:px-0 px-4">
      <a class="flex items-center" href="/">
        <img
          class="md:h-16 h-14 py-2 md:block hidden"
          src="/images/logo/proserv-logo-sf.png"
          alt="logo ProServ"
        />

        <img
          class="md:h-18 h-16 py-2 md:hidden block"
          src="/images/logo/favicon.png"
          alt="logo ProServ pequeño"
        />
      </a>
  
      <nav class="flex flex-row items-center md:gap-x-5 gap-x-3 font-semibold">
        <a class="hover:text-teal-500 focus:text-teal-500" href="/">Inicio</a>
        <a class="hover:text-teal-500 focus:text-teal-500" href="/services">Servicios</a>
        <a class="hover:text-teal-500 focus:text-teal-500" href="/nosotros">Nosotros</a>
        <!-- <a class="hover:text-teal-500" href="/galeria">Galería</a> -->
        <a class="hover:text-teal-500 focus:text-teal-500" href="/contact">Contacto</a>
      </nav>
    </div>
</header>


