<header class="fixed w-full top-0 text-black bg-white z-20 shadow-lg">
    <div class="max-w-[1400px] mx-auto flex justify-between items-center md:text-lg text-md">
      <a class="flex items-center" href="/">
        <img
          class="md:h-18 h-16 p-2"
          src="/images/logo/logo-proserv.png"
          alt="logo Vic Ingeniería y Seguridad"
        />
      </a>
  
      <nav class="flex flex-row items-center md:gap-x-5 gap-x-3 font-semibold">
        <a class="hover:text-teal-500" href="/">Inicio</a>
        <a class="hover:text-teal-500" href="/servicios">Servicios</a>
        <a class="hover:text-teal-500" href="/nosotros">Nosotros</a>
        <a class="hover:text-teal-500" href="/galeria">Galería</a>
        <a class="hover:text-teal-500" href="/contacto">Contacto</a>
      </nav>
    </div>
</header>


<style>
    /* header {
        animation: header-blur-scroll 0.3s ease-in-out both;
        animation-timeline: scroll();
        animation-range: 0 200px;
    } */

    @keyframes header-blur-scroll {
        0% {
            /* backdrop-filter: blur(0px); */
            background: white;
        }
        100% {
            /* backdrop-filter: blur(10px); */
            /* background: rgba(0, 0 , 0, 0.2); */
            background: transparent;
            /* padding-bottom: var(--spacing-2); */
            border-bottom-color: black;
        }
    }
</style>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const menuToggle = document.getElementById("menuToggle");
        const dropdownMenu = document.getElementById("dropdownMenu");

        menuToggle?.addEventListener("click", function (event) {
            //event.stopPropagation(); // Evita que el clic se propague al documento
            dropdownMenu?.classList.toggle("hidden");
        });

        document.addEventListener("click", function (event) {
            if (
                !menuToggle?.contains(event.target as Node) &&
                !dropdownMenu?.contains(event.target as Node)
            ) {
                dropdownMenu?.classList.add("hidden");
            }
        });
    });
</script>
