---

---

<section class="md:mt-18 mt-12 md:bg-[url('/images/fondo2.webp')] bg-[url('/images/fondo1.jpg')] bg-cover bg-center min-h-[60vh] flex items-center justify-center overflow-hidden relative">

	<div class="absolute inset-0 bg-cyan-950 opacity-70"></div>

	<div class="max-w-[1400px] mx-auto w-full flex flex-col text-white z-10 ">

		<div class="md:w-2/3 flex flex-col gap-8 p-4 2xl:p-0">
			<h1 class="xl:text-6xl text-3xl font-bold">Bienvenido a <span class="text-teal-300">ProServ</span></h1>
			<h2 class="xl:text-5xl text-2xl font-semibold">Control profesional de plagas para tu hogar o negocio.</h2>
			<p class="xl:text-3xl text-xl">En ProServ, eliminamos eficazmente cucarachas, hormigas, termitas y todo tipo de insectos con métodos seguros y garantizados.</p>

			<div class="gap-4 flex flex-col md:flex-row items-center ">
				<a class="border border-white rounded-xl py-2 px-4 w-56 text-center text-xl hover:bg-white hover:text-cyan-950 transition" href="/contacto" class="button">Contáctanos</a>
				<a class="border border-white rounded-xl py-2 px-4 w-56 text-center text-xl hover:bg-white hover:text-cyan-950 transition" href="/servicios" class="button">Explorar Servicios</a>
			</div>
		</div>
	</div>

</section>

<!-- [mask-image:radial-gradient(circle_at_center,_rgba(0,0,0,1),_rgba(0,0,0,0.2),_transparent)] -->
<!-- bg-[radial-gradient(circle,_rgba(0,106,145,1)_30%,_rgba(17,50,66,1)_100%)] -->