<section class="py-16 bg-gradient-to-br from-teal-500 to-teal-900 text-white">
    <div class="container mx-auto px-4 text-center">
        <h2 class="text-3xl font-bold mb-4">¿Problemas con insectos? ¡Contáctanos hoy!</h2>
        <p class="max-w-2xl mx-auto mb-8 text-xl text-green-50">
        Ofrecemos presupuestos gratuitos y sin compromiso. Nuestros técnicos estarán encantados de ayudarte a resolver tu problema de plagas.
        </p>
        <div class="max-w-md mx-auto">
            <div class="flex flex-col sm:flex-row gap-4">
                <input
                type="email"
                placeholder="Tu correo electrónico"
                class="px-4 py-2 w-full rounded-md focus:outline-none focus:ring-2 focus:ring-blue-400 ring-blue-200 ring-2"
                />
                <button class="bg-white text-teal-600 hover:text-teal-800 hover:bg-blue-50 transition py-3 px-6 rounded">
                    Contáctenme
                </button>
            </div>
            <p class="text-xs mt-4 text-blue-100">
                Al proporcionarnos tu correo, aceptas nuestra política de privacidad.
                Te contactaremos a la brevedad.
            </p>
        </div>
    </div>
</section>