<section class="py-16 bg-gradient-to-br from-teal-500 to-teal-900 text-white">
    <div class="container mx-auto px-4 text-center">
        <h2 class="text-3xl font-bold mb-4">¿Problemas con insectos? ¡Contáctanos hoy!</h2>
        <p class="max-w-2xl mx-auto mb-8 text-xl text-green-50">
        Ofrecemos presupuestos gratuitos y sin compromiso. Nuestros técnicos estarán encantados de ayudarte a resolver tu problema de plagas.
        </p>
        <div class="flex flex-col items-center justify-center mb-8">
            <div class="flex sm:flex-row gap-4">
                
                <a href="https://wa.me/56912345678" class="text-lg font-semibold text-white hover:text-teal-200 transition duration-300">
                    <img src="/images/icons/whatsapp.svg" alt="icono whatsapp" class="w-12 h-12" />
                </a>
                <a href="tel:+56912345678" class="hover:scale-3d transition duration-300">
                    <img src="/images/icons/phone_white.svg" alt="icono telefono" class="w-12 h-12" />
                </a>
                <a href="mailto:cotacto@proserv-chile.com" class="hover:scale-3d transition duration-300">
                    <img src="/images/icons/mail.svg" alt="icono mail" class="w-12 h-12 " />
                </a>
                <a href="https://www.instagram.com/proservchile" class="hover:scale-3d transition duration-300">
                    <img src="/images/icons/instagram.svg" alt="icono instagram" class="w-12 h-12" /> 
                </a>
            </div>
            <p class="text-xs mt-4 text-blue-100">
                Al proporcionarnos tu correo, aceptas nuestra política de privacidad.
                Te contactaremos a la brevedad.
            </p>
        </div>
    </div>
</section>