<section class="py-16 bg-gray-200 bg-gradient-to-b from-gray-100 to-gray-50 mx-auto px-4 2xl:px-0">

    <div class="container mx-auto max-w-[1400px]">
        <h2 class="text-3xl font-bold text-center mb-4">¿Por qué elegir <span class="text-teal-500">ProServ</span>?</h2>
        <p class="text-center text-gray-800 max-w-2xl mx-auto mb-12">
            Contamos con técnicos altamente experimentados en el control de plagas, ofreciendo soluciones eficaces, seguras y duraderas.

        </p>
        
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8">
            <div class="bg-white p-6 rounded-lg shadow-sm hover:shadow-md transition-shadow">
                <div class="w-16 h-16 bg-blue-100 rounded-full flex items-center justify-center mb-4 mx-auto">
                    <img src="/images/icons/certificate.svg" alt="certificate Icon" class="w-8" />
                </div>
                <h3 class="text-xl font-semibold text-center mb-2">Técnicos certificados</h3>
                <p class="text-gray-900 text-center">Nuestro personal está altamente capacitado y certificado en manejo de plagas.</p>
            </div>
            
            <div class="bg-white p-6 rounded-lg shadow-sm hover:shadow-md transition-shadow">
                <div class="w-16 h-16 bg-blue-100 rounded-full flex items-center justify-center mb-4 mx-auto">
                    <img src="/images/icons/Shield.svg" alt="shield Icon" class="w-8" />
                </div>
                <h3 class="text-xl font-semibold text-center mb-2">Productos seguros</h3>
                <p class="text-gray-900 text-center">Utilizamos productos biodegradables y seguros para personas, mascotas y medio ambiente.</p>
            </div>
            
            <div class="bg-white p-6 rounded-lg shadow-sm hover:shadow-md transition-shadow">
                <div class="w-16 h-16 bg-blue-100 rounded-full flex items-center justify-center mb-4 mx-auto">
                    <img src="/images/icons/search.svg" alt="search Icon" class="w-8" />
                </div>
                <h3 class="text-xl font-semibold text-center mb-2">Inspección gratuita</h3>
                <p class="text-gray-900 text-center">Ofrecemos inspección gratuita para evaluar el problema y dar el mejor tratamiento.</p>
            </div>
            
            <div class="bg-white p-6 rounded-lg shadow-sm hover:shadow-md transition-shadow">
                <div class="w-16 h-16 bg-blue-100 rounded-full flex items-center justify-center mb-4 mx-auto">
                    <img src="/images/icons/phone.svg" alt="phone Icon" class="w-8" />
                </div>
                <h3 class="text-xl font-semibold text-center mb-2">Atención 24/7</h3>
                <p class="text-gray-900 text-center">Respondemos emergencias todos los días, incluidos fines de semana y festivos.</p>
            </div>
        </div>
    </div>
</section>