<section class="py-16 bg-white max-w-[1400px] mx-auto px-4 2xl:px-0">
    <div class="container mx-auto">
        <h2 class="text-3xl font-bold text-center mb-12">Nuestro proceso de trabajo</h2>
        
        <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
            <div class="p-6 bg-gray-100 rounded-lg shadow-xl">
                <div class="text-center">
                    <div class="w-12 h-12 bg-blue-50 rounded-full flex items-center justify-center mx-auto mb-4">
                        <span class="text-xl font-bold text-black">1</span>
                    </div>
                    <h3 class="font-semibold text-lg mb-2">Inspección</h3>
                    <p class="text-black text-md">
                        Evaluamos tu propiedad para identificar el tipo de plaga, el nivel de infestación y las áreas afectadas.
                    </p>
                </div>
            </div>
            
                    
            <div class="p-6 bg-gray-100 rounded-lg shadow-xl">
                <div class="text-center">
                    <div class="w-12 h-12 bg-blue-50 rounded-full flex items-center justify-center mx-auto mb-4">
                        <span class="text-xl font-bold text-black">2</span>
                    </div>
                    <h3 class="font-semibold text-lg mb-2">Tratamiento</h3>
                    <p class="text-black text-md">
                        Aplicamos el tratamiento más adecuado según el tipo de plaga, utilizando productos eficaces y seguros.
                    </p>
                </div>
            </div>
        
                
            <div class="p-6 bg-gray-100 rounded-lg shadow-xl">
                <div class="text-center">
                    <div class="w-12 h-12 bg-blue-50 rounded-full flex items-center justify-center mx-auto mb-4">
                        <span class="text-xl font-bold text-black">3</span>
                    </div>
                    <h3 class="font-semibold text-lg mb-2">Seguimiento</h3>
                    <p class="text-black text-md">
                        Realizamos visitas de seguimiento para asegurar la eficacia del tratamiento y prevenir futuras infestaciones.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>