<section class="py-12 bg-white max-w-[1400px] mx-auto px-4 2xl:px-0 ">

        <h2 class="md:text-4xl text-2xl font-bold text-center mb-12">Nuestros servicios de control de plagas</h2>

        <p class="text-center text-gray-800 max-w-4xl mx-auto mb-6">En ProServ Servicios Profesionales controlamos eficazmente todo tipo de plagas urbanas con metodos seguros y aprobados por la seremi se salud. Contamos con profesionales del area y todas las autorizaciones del ministerio de salud</p>

        <div class="flex md:flex-row flex-col justify-center items-center gap-4 mb-8">
            <span class="border border-cyan-600 bg-cyan-200 rounded-full py-2 px-4">Representante tecnico aprobado</span>
            <span class="border border-cyan-600 bg-cyan-200 rounded-full py-2 px-4">Resolucion sanitaria</span>
            <span class="border border-cyan-600 bg-cyan-200 rounded-full py-2 px-4">Tecnicos aplicadores capacitados</span>
        </div>
      
        <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
            <div class="border-l-4 border-l-green-500 rounded-lg shadow-lg">
                <div class="flex items-start py-4 px-2">
                <div class="bg-green-100 p-2 rounded-full mr-4 my-auto">
                    <img src="/images/icons/Bug.svg" alt="Bug Icon" class="w-16" />
                </div>
                <div>
                    <h3 class="font-semibold text-xl mb-2">Desinsectación</h3>
                    <p class="md:text-lg text-gray-800">Tratamientos de fumigación para todo tipo de insectos con productos ecológicos y eficaces.</p>
                </div>
                </div>
            </div>

            <div class="border-l-4 border-l-orange-500 rounded-lg shadow-lg">
                <div class="flex items-start py-4 px-2">
                <div class="bg-orange-100 p-2 rounded-full mr-4 my-auto">
                    <img src="/images/icons/Rat.svg" alt="Rat Icon" class="w-16" />
                </div>
                <div>
                    <h3 class="font-semibold text-xl mb-2">Desratización</h3>
                    <p class="md:text-lg text-gray-800">Control de roedores con métodos efectivos y preventivos para evitar contagio de enfermedades.</p>
                </div>
                </div>
            </div>
            
            <div class="border-l-4 border-l-blue-500 rounded-lg shadow-lg">
                <div class="flex items-start py-4 px-2">
                <div class="bg-blue-100 p-2 rounded-full mr-4 my-auto">
                    <img src="/images/icons/Shield.svg" alt="Shield Icon" class="w-16" />
                </div>
                <div>
                    <h3 class="font-semibold text-xl mb-2">Desinfectación</h3>
                    <p class="md:text-lg text-gray-800">Tratamientos de desinfección para eliminar virus, bacterias y otros microorganismos, asegurando ambientes saludables y seguros.</p>
                </div>
                </div>
            </div>

        </div>
      
        <div class="text-center mt-10">
            <a class="border border-teal-700 text-teal-700 rounded-lg px-4 py-2 text-lg font-medium shadow-xl hover:bg-teal-700 hover:text-white hover:shadow-none transition" href="/services" >
            Ver todos los servicios
            </a>
        </div>
    </div>
</section>