---
interface Props {
	// Define any props you want to pass to the layout
	title: string;
}
const { title } = Astro.props as Props;

import '../styles/global.css'
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '@fontsource-variable/montserrat';
import ClientRouter from 'astro/components/ClientRouter.astro';

---

<!doctype html> 
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="images/logo/favicon.png" />
		<title>{title}</title>
		<ClientRouter />
	</head>
	<!-- <body class="scroll-smooth">
		<Header/>
		<slot />
		<Footer/>
	</body> -->

	<body class="scroll-smooth font-montserrat min-h-screen grid grid-rows-[auto_1fr_auto]">
		<Header />
		<main class="min-h-0 md:mt-16 mt-12">
			<slot />
		</main>
		<Footer />
		<a href="https://wa.me/56956484233" target="_blank" class="fixed md:bottom-8 md:right-8 bottom-6 right-4 z-50 flex flex-col items-center justify-center gap-2">
			<img src="/images/icons/rrss/whatsapp.svg" alt="whatsapp" class="md:h-20 h-12 hover:scale-110 transition-all duration-300 hover:rotate-12">
			<span class="text-black md:text-sm text-xs font-bold bg-white rounded-full md:px-4 px-2 py-1">¡Contactanos!</span>
		</a>
	</body>
</html>

<style>
	body {
  		font-family: 'Montserrat Variable', sans-serif;
	}
</style>
